{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Restore Management</h1>

    <form method="post" id="restore-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="instance">Instance:</label>
            <select id="instance" name="instance" class="form-control">
                <option value="">-- Select an Instance --</option>
                <optgroup id="optgroup-mysql" label="MySQL"></optgroup>
                <optgroup id="optgroup-mongo" label="MongoDB"></optgroup>
            </select>
        </div>

        <div class="form-group">
            <label for="db_name">Database:</label>
            <select id="db_name" name="db_name" class="form-control">
                <option value="">-- Select a Database --</option>
            </select>
        </div>

        <div class="form-group">
            <label for="table_name">Table:</label>
            <select id="table_name" name="table_name" class="form-control">
                <option value="">-- Select a Table --</option>
            </select>
        </div>

        <div class="form-group">
            <label for="restore_time">Restore Time:</label>
            <input type="datetime-local" id="restore_time" name="restore_time" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit Restore Request</button>
    </form>
</div>
<!-- Table for restore requests-->
<div class="container">
    <!-- <h2>Pending Restore Requests</h2> -->
    <!-- <table class="table table-striped" id="pending-requests-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Instance</th>
                <th>Restore Time</th>
                <th>Database</th>
                <th>Table</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table> -->
    <h2>Pending Requests</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Instance</th>
                <th>Restore Time</th>
                <th>Database</th>
                <th>Table</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in pending_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.instance.instance_name }}</td>
                <td>{{ request.restore_time|default:"Not Specified" }}</td>
                <td>{{ request.db_name }}</td>
                <td>{{ request.table_name|default:"All Tables" }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <button class="btn btn-success btn-sm" onclick="showExecuteModal({{request.id}})">Execute</button>
                    <button class="btn btn-danger btn-sm" onclick="rejectRestoreRequest({{request.id}})">Reject</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Rejected Requests</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Instance</th>
                <th>Restore Time</th>
                <th>Database</th>
                <th>Table</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in rejected_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.instance.instance_name }}</td>
                <td>{{ request.restore_time|default:"Not Specified" }}</td>
                <td>{{ request.db_name }}</td>
                <td>{{ request.table_name|default:"All Tables" }}</td>
                <td>{{ request.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Closed Requests</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Instance</th>
                <th>Restore Time</th>
                <th>Database</th>
                <th>Table</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in closed_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.instance.instance_name }}</td>
                <td>{{ request.restore_time|default:"Not Specified" }}</td>
                <td>{{ request.db_name }}</td>
                <td>{{ request.table_name|default:"All Tables" }}</td>
                <td>{{ request.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal for action -->
<div class="modal fade" id="executeModal" tabindex="-1" role="dialog" aria-labelledby="executeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="executeModalLabel">Restore Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Instance:</strong> <span id="modalInstance"></span></p>
                <p><strong>Database:</strong> <span id="modalDatabase"></span></p>
                <p><strong>Table:</strong> <span id="modalTable"></span></p>
                <p><strong>S3 URI:</strong> <span id="modalS3Uri"></span></p>
                <p><strong>Region:</strong> <span id="modalRegion"></span></p>
                <p><strong>Key:</strong> <span id="modalKey"></span></p>
                <p><strong>Secret:</strong> <span id="modalSecret"></span></p>
                <p><strong>Host:</strong> <span id="modalHost"></span></p>
                <p><strong>Port:</strong> <span id="modalPort"></span></p>
                <p><strong>User:</strong> <span id="modalUser"></span></p>
                <p><strong>Password:</strong> <span id="modalPassword"></span></p>

                <p><strong>Preview Command:</strong></p>
                <pre id="modalCommand" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                
                <div class="form-group mt-3" style="display:none;" id="editCommandContainer">
                    <label for="editCommand">Edit Command:</label>
                    <textarea id="editCommand" class="form-control" rows="6"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="modalRequestId" name="request_id">
                    <button type="submit" name="execute_request" class="btn btn-primary">Confirm & Execute</button>
                </form>
                <button type="button" id="editCommandButton" class="btn btn-secondary">Edit Command</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    
    $(document).ready(function () {
        initializeInstanceList(); // Load instances dynamically
        load_pending_restore_requests()
        listen_create_restore_request();
        // Function to load database list dynamically
        $('#instance').change(function () {
            console.log($('#instance').val())
            database_list();
        });

        // Function to load table list dynamically
        $('#db_name').change(function () {
            table_list();
        });

        $('#editCommandButton').on('click', function () {
        const isEditing = $('#editCommandContainer').is(':visible');

        if (isEditing) {
            // Save changes and hide the edit textarea
            const updatedCommand = $('#editCommand').val();
            $('#modalCommand').text(updatedCommand);
            $('#editCommandContainer').hide();
            $(this).text('Edit Command');
        } else {
            // Show the edit textarea with the current command
            const currentCommand = $('#modalCommand').text();
            $('#editCommand').val(currentCommand);
            $('#editCommandContainer').show();
            $(this).text('Save Command');
        }
    });
    });

    $('#executeModal form').on('submit', function (e) {
        e.preventDefault(); // Prevent the default form submission
        console.log("clicked");

        // Gather form data
        var formData = {
            instance: $('#modalInstance').text().trim(),
            database: $('#modalDatabase').text().trim(),
            table: $('#modalTable').text().trim(),
            s3Uri: $('#modalS3Uri').text().trim(),
            region: $('#modalRegion').text().trim(),
            key: $('#modalKey').text().trim(),
            secret: $('#modalSecret').text().trim(),
            host: $('#modalHost').text().trim(),
            port: $('#modalPort').text().trim(),
            user: $('#modalUser').text().trim(),
            password: $('#modalPassword').text().trim(),
            csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val() // Include CSRF token
        };

        console.log("Form data:", formData);

        // Send the AJAX POST request
        $.ajax({
            type: 'POST',
            url: '/restore/execute',  // Replace with the actual URL for handling routine creation
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    console.log("Success:", response.message);
                    // Optionally close the modal and show success message
                    $('#executeModal').modal('hide');
                    alert("Execution succeeded: " + response.message);
                } else {
                    console.error("Error:", response.message);
                    alert("Execution failed: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", error);
                alert("An error occurred: " + error);
            }
        });
    });

    
    function load_pending_restore_requests() {
        $.ajax({
            type: 'GET',
            url: '/restore/request/pending/',
            success: function (response) {
                if (response.status === "success") {
                    console.log("Success", response);
                    $('#pending-requests-table tbody').empty();
                    response.requests.forEach(function (request) {
                        $('#pending-requests-table tbody').append(`
                            <tr>
                                <td>${request.id}</td>
                                <td>${request.instance_name}</td>
                                <td>${request.restore_time || "Not Specified"}</td>
                                <td>${request.db_name}</td>
                                <td>${request.table_name || "All Tables"}</td>
                                <td>${request.status}</td>
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="showExecuteModal(${request.id})">Execute</button>
                                    <button class="btn btn-danger btn-sm" onclick="rejectRestoreRequest(${request.id})">Reject</button>
                                </td>
                            </tr>
                        `);
                    });
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert('Error loading pending restore requests');
            }
        });
    }

    function listen_create_restore_request() {
        // Handle form submission for creating a restore request
        $('#restore-form').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Gather form data
            var formData = {
                instance_id: $('#instance').val(),
                db_name: $('#db_name').val(),
                table_name: $('#table_name').val(),
                restore_time: $('#restore_time').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()  // Django CSRF token
            };
            console.log("Form data:", formData);

            // AJAX request to submit the form
            $.ajax({
                type: 'POST',
                url: '/restore/request/create/',  // Django view to handle restore request
                data: formData,
                success: function (response) {
                    if (response.status === "success") {
                        // Show success message and refresh pending requests
                        alert('Restore request submitted successfully');
                        load_pending_restore_requests(); // Reload the pending requests
                    } else {
                        // Display error message from the server
                        alert(`Error: ${response.message}`);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error submitting restore request:", error);
                    alert('An error occurred while submitting the restore request');
                }
            });
        });
    }

    function showExecuteModal(requestId) {
        console.log(requestId);
        $.ajax({
            type: "get",
            url: `/restore/execution/details/${requestId}/`,
            success: function (data) {
                if (data.status === "success") {
                    console.log("data returned:", data);
                    // $("#modalInstance").text(data.instance_name);
                    // $("#modalDatabase").text(data.db_name);
                    // $("#modalTable").text(data.table_name || "All Tables");
                    // $("#modalCommand").text(data.command);

                    $("#modalInstance").text(data.instance_name);
                    $("#modalDatabase").text(data.db_name);
                    $("#modalTable").text(data.table_name || "All Tables");
                    $("#modalS3Uri").text(data.s3_uri);
                    $("#modalRegion").text(data.region);
                    $("#modalKey").text(data.key);
                    $("#modalSecret").text(data.secret);
                    $("#modalHost").text(data.host);
                    $("#modalPort").text(data.port);
                    $("#modalUser").text(data.user);
                    $("#modalPassword").text(data.password);
                    $("#modalCommand").text(data.command);

                    $("#modalRequestId").val(requestId);
                    $("#executeModal").modal("show");
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert("Failed to load restore details.");
            }
        });
    }
    // function showExecuteModal(requestId) {
    //     // Hardcoded data for POC
    //     const hardcodedData = {
    //         status: "success",
    //         instance_name: "prd-mysql-tapo-aps-3",
    //         db_name: "example_db",
    //         table_name: "example_table",
    //         s3_uri: "s3://my-backup-bucket/backups/mysql/prd-mysql-tapo-aps-3/2024-11-28_03-04.zip",
    //         region: "us-west-1",
    //         key: "dummy-key",
    //         secret: "dummy-secret",
    //         host: "prd-mysql-tapo-aps-3-host",
    //         port: "3306",
    //         user: "admin",
    //         password: "dummy-password",
    //         command:`python mysql_incremental_restore.py -r \\
    //                 --datasource='backups/mysql/prd-mysql-tapo-aps-3/2024-11-28_03-04.zip' \\
    //                 --region 'us-west-1' \\
    //                 --key 'dummy-key' \\
    //                 --secret 'dummy-secret' \\
    //                 --host 'prd-mysql-tapo-aps-3-host' \\
    //                 --port '3306' \\
    //                 --user 'admin' \\
    //                 --password 'dummy-password'`
    //     };

    //     if (hardcodedData.status === "success") {
    //         // Populate modal with hardcoded values
    //         $("#modalInstance").text(hardcodedData.instance_name);
    //         $("#modalDatabase").text(hardcodedData.db_name);
    //         $("#modalTable").text(hardcodedData.table_name || "All Tables");
    //         $("#modalS3Uri").text(hardcodedData.s3_uri);
    //         $("#modalRegion").text(hardcodedData.region);
    //         $("#modalKey").text(hardcodedData.key);
    //         $("#modalSecret").text(hardcodedData.secret);
    //         $("#modalHost").text(hardcodedData.host);
    //         $("#modalPort").text(hardcodedData.port);
    //         $("#modalUser").text(hardcodedData.user);
    //         $("#modalPassword").text(hardcodedData.password);

    //         // Populate and wrap command
    //         $("#modalCommand").text(hardcodedData.command);

    //         // Set request ID for form submission
    //         $("#modalRequestId").val(requestId);

    //         // Show the modal
    //         $("#executeModal").modal("show");
    //     } else {
    //         alert(hardcodedData.message || "Error occurred while fetching restore details.");
    //     }
    // }


    // Function to load databases based on the selected instance
    function database_list() {
        let db_type = "";
        if ($("#instance").val()) {
            db_type = $("#instance")[0].options[$("#instance")[0].selectedIndex].getAttribute("instance-type");
        }

        showLoading(); // Show loading spinner

        // AJAX request to retrieve databases
        $.ajax({
            type: "post",
            url: "/instance/database/list/",
            data: {
                instance_id: $("#instance").val(),
                db_type: db_type,
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                hideLoading(); // Hide loading spinner
                if (data.status === 0 && Array.isArray(data.rows)) {
                    $("#db_name").empty();
                    data.rows.forEach(function (db) {
                        $("#db_name").append(`<option value="${db.db_name}">${db.db_name}</option>`);
                    });
                } else {
                    alert("No databases found or an error occurred.");
                }
            },
            error: function () {
                hideLoading();
                alert("Error loading databases.");
            }
        });
    }

    // Function to load table list based on selected database
    function table_list() {
        let db_type = $("#instance")[0].options[$("#instance")[0].selectedIndex].getAttribute("instance-type");
        let db_name = $("#db_name").val();
        let instance_name = $("#instance").find(":selected").attr("instance-name");

        showLoading(); // Show loading spinner

        // AJAX request to retrieve tables
        $.ajax({
            type: "get",
            url: "/data_dictionary/table_list/",
            dataType: "json",
            data: {
                instance_name: instance_name,
                db_name: db_name,
                db_type: db_type
            },
            success: function (data) {
                hideLoading(); // Hide loading spinner
                if (data.status === 0 && typeof data.data === "object") {
                    $("#table_name").empty();
                    Object.keys(data.data).forEach(function (categoryKey) {
                        const tables = data.data[categoryKey];
                        if (Array.isArray(tables)) {
                            const optgroup = $('<optgroup>').attr("label", categoryKey);
                            tables.forEach(function (table) {
                                const tableName = table[0];
                                optgroup.append(`<option value="${tableName}">${tableName}</option>`);
                            });
                            $("#table_name").append(optgroup);
                        }
                    });
                } else {
                    alert("No tables found or an error occurred.");
                }
            },
            error: function () {
                hideLoading();
                alert("Error loading tables.");
            }
        });
    }
    // Function to initialize the instance list
    function initializeInstanceList() {
        $.ajax({
            type: "get",
            url: "/group/user_all_instances/",
            dataType: "json",
            success: function (data) {
                let instances = data['data'];
                $("optgroup[id^='optgroup']").empty(); // Clear existing options
                const supportDb = ['mysql', 'mongo']; // Supported DB types
                for (let instance of instances) {
                    let instanceOption = `<option value="${instance.id}" instance-name="${instance.instance_name}" instance-id="${instance.id}" instance-type="${instance.db_type}">${instance.instance_name}</option>`;
                    if (supportDb.includes(instance.db_type)) {
                        $("#optgroup-" + instance.db_type).append(instanceOption);
                    }
                }
                $('#instance').selectpicker('refresh'); // Refresh UI
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error loading instances: " + errorThrown);
            }
        });
    }


    // Simulated loading spinner functions
    function showLoading() {
        console.log("Loading...");
    }

    function hideLoading() {
        console.log("Done loading.");
    }
</script>
{% endblock %}